In [1]:
#ANALISIS DATA GLACIER 
#ACTIVIDAD G2M CAB COMPANIES
setwd("~/Data_Glacier/repos/DataSets")

#CARGO DATA
cab <- read.csv("~/Data_Glacier/repos/DataSets/Cab_data.txt")
cab1 <- read.csv("~/Data_Glacier/repos/DataSets/Cab_Data.csv")
city <- read.csv("~/Data_Glacier/repos/DataSets/City.csv")
customer <- read.csv("~/Data_Glacier/repos/DataSets/Customer_ID.csv")
transaction <- read.csv("~/Data_Glacier/repos/DataSets/Transaction_ID.csv")

In [2]:
head(cab)

  Transaction.ID Date.of.Travel Company  City       KM.Travelled Price.Charged
1 10000011       42377          Pink Cab ATLANTA GA 30.45        370.95
2 10000012       42375          Pink Cab ATLANTA GA 28.62        358.52
3 10000013       42371          Pink Cab ATLANTA GA  9.04        125.20
4 10000014       42376          Pink Cab ATLANTA GA 33.17        377.40
5 10000015       42372          Pink Cab ATLANTA GA  8.73        114.62
6 10000016       42376          Pink Cab ATLANTA GA  6.06         72.43
  Cost.of.Trip
1 313.635
2 334.854
3  97.632
4 351.602
5  97.776
6  63.024